@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover, a:focus {
	color: #f3f3f3;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#footer {
  background-color: #1C1C1C;
  color: #aaa;
  font-size: 1em;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

#header {
  width: 100%;
  height: 80px;
  background-color: #1C1C1C;
  text-align:center;
  padding: 10px 0 0 0;
}

header h1 {
  margin: auto;
}

header h1 a {
  color: #fff;
  : 28pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* ====================== Skip Link ====================== */

/*  Modified from https://webaim.org/techniques/skipnav/ */

#skip a {
   position: absolute;
   left: -10000px;
   top: auto;
   width: 1px;
   overflow: hidden;
}

#skip a:focus{
   position: static;
   width: auto;
   height: 20px auto;
   background-color: #001F3F;
   width:100%;
}
/* ====================== Navigation ====================== */

nav {
  width: 100%;
  height: 80px;
  background-color: #001F3F;
  text-align:center;
}


#breadcrumb {
    padding: 30px 16px;
    list-style: none;
    background-color: #001F3F;
    font-size: 17px;
    margin: 0;
    width: 40%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
	color: #ffffff;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: #ffffff;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #ffffff;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #f3f3f3;
    text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  height: 60px;
  background-color: #001F3F;
  align-items: center;
  padding: 10px 0 20px 0;
}

.filter-options h2 {
  color: white;
  font-size: 1.25em;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size:1.25em;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 2px;
  width: 210px;
}

/* ====================== Restaurant Listing ====================== */

#restaurant-list-container {
   text-align: center;
   margin: 0 auto;
}
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0 auto;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  text-align: center;
  max-width: 300px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
}

#restaurants-list li h1 {
  color: #940000;
  font-family: Arial,sans-serif;
  font-size: 15pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 1.25em;
}

#restaurants-list li a {
  background-color: #940000;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1.25em
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 20%;
  position: fixed;
  width: 90%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 90%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#hours-title {
   text-align: center;
}

#restaurant-name {
  color: #940000;
  font-family: Arial,sans-serif;
  : 1.25rem;
  letter-spacing: 0;
  margin: 30px 0 15px;
  text-transform: uppercase;
  line-height: 1.1;
  text-align:center;
}

#restaurant-content {
    width: 40%;
    float: right;
    margin-right: 10%;
}

#restaurant-img {
	width: 40%;
	margin: 30px;
}

#restaurant-address {
  font-size: 1.25em;
  margin: 10px 0px;
  padding: 30px;
  display: inline;
}

#address{
  float: left;
	padding-left: 30px;
	padding-bottom: 30px;
}


#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  : 14pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-container{
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
}

#reviews-container {
  padding: 30px 40px 80px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}

#reviews-container h2 {
  color: #940000;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
	font-size: 1.25em;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 95%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
  padding-left: 70px;
	font-size: 1.25em;
}



/* ====================== Media Inqueries  ====================== */

@media only screen and (max-width: 600px){



/* ====================== Header ====================== */

#header {
  height: 100px;
  padding: 5px 0;
}

header h1 a {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}


/* ====================== Map ====================== */

#map {
  display: none;
}


.inside #map-container {
     width: 100%;
  	 display: flex;
  }

  li. a{
     : 1em;

  }

.filter-options {
     height: 120px;
  }

/* ====================== Homepage ====================== */

#restaurant-list-container {
   padding: 0;
	 width: 100%;
}


#restaurants-list {
    padding: 0;
}

#restaurants-list li {
    margin: 0;
	  max-width: 100%;
	  margin-bottom: 20px;
}

/******  Restaurant Details ******/

#maincontent {
   width: 100%;
}

#breadcrumb {
   width: 100%;
   margin: 0;
	 padding: 30px 0;
}

#restaurant-img {
   width: 100%;
   margin: 0;
}

#nav {
   text-align: left;
   margin: 0;
}

#restaurant-content {
   width: 100%;
   margin: 0;
}

#reviews-container {
	 padding: 0;
}

#reviews-container h2 {
	 font-size: 1.5em;
}

#restaurant-hours td {
  padding-left: 30px;
}

#restaurant-address {
	padding: 0;
}

#hours {
	padding-bottom:10px;
}

#reviews-list li {
	padding: 0 5px;
}

}


@media only screen and (min-width: 601px) and (max-width: 767px) {

/* ====================== Header ====================== */

#header {
  height: 100px;
  padding: 5px 0;
}


#header h1 a {
  color: #fff;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}


/* ====================== Map ====================== */

.inside #map-container {
   width: 70%;
   display: flex;
  }



/* ====================== Homepage ====================== */

#restaurants-list li {
   margin: 0;
   max-width: 100%;
   margin-bottom: 20px;
}

#restaurant-img {
   width: 100%;
   margin: 0;
}

/******  Restaurant Page Details ******/

#maincontent {
   width: 100%;
}

#breadcrumb {
   width: 100%;
   margin: 0;
}

#reviews-container {
  padding: 5px;
}

#reviews-list li {
	width: 80%;
}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	/* ====================== Homepage ====================== */

#restaurant-list-container {
     padding: 0;
	 width: 100%;
}

#restaurants-list {
     padding: 0;
}

#restaurants-list li {
  max-width: 45%;
}

/******  Restaurant Page Details ******/

#restaurant-hours td {
  padding-left: 0;
}

#restaurant-content {
	margin-right: 5%;
}

#restaurant-address {
  padding: 0;
}

#address{
  width: 45%;
}

#hours {
	padding-bottom:10px;
}

}

@media only screen and (min-width: 992px) and (max-width: 1999px) {

header h1 a {
   color: #fff;
   font-size: 20pt;
   font-weight: 200;
   letter-spacing: 10px;
   text-transform: uppercase;
 }

 /******  Home Page ******/

 #restaurants-list li {
  max-width: 29%;
	justify-content: space-around;
}

/******  Restaurant Page Details ******/

#restaurant-hours td {
  padding-left: 30px;
}

}
